[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-pingnotio
Exec=sailfish-qml harbour-pingnotio
Name=PingNotio
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
#Name[de]=harbour-pingnotio

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=cz.kuba77
# ApplicationName does not have to be identical to Name
ApplicationName=pingnotio
# Add the required permissions here
Permissions=
